@{
    ViewData["Title"] = "Contact";
}
<div class="ui container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <address>
        123 First St.<br/>
        Test, TX 12345<br/>
        <abbr title="Phone">P:</abbr>
        818.734.0224
    </address>
</div>
