@{
    ViewData["Title"] = "Contact";
}
<div class="ui container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <address>
        408 Fernhurst Ln<br/>
        Evans, GA 30809<br/>
        <abbr title="Phone">P:</abbr>
        818.734.0224
    </address>
</div>
